.action-field {
	text-align: center;
	margin: auto;
}

.page-item>a.page-link {
	cursor: pointer;
}

.page-item>a.page-link:hover {
	cursor: pointer;
	background-color: rgb(0, 174, 255);
	color: black;
}