/* Full height for sidebar and content */
.vh-100 {
    height: 100vh;
}

/* Sidebar styling */
.sidebar {
    width: 250px;
    transition: width 0.3s;
    overflow-y: auto;
    flex-shrink: 0;
}

.sidebar.collapsed {
    width: 0;
    overflow: hidden;
}

/* Sidebar items */
.sidebar-item>button {
    color: white;
}

.sidebar-item>button.active,
.sidebar-item>button:hover {
    background-color: #0d6efd;
    color: white;
}

/* Submenu */
.sidebar-subitem>button {
    color: #ddd;
}

a#userDropdown:hover,
.dropdown-menu>li>a.dropdown-item:hover,
.sidebar-subitem>button:hover {
    background-color: #0b5ed7;
    color: white;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 56px;
        /* header height */
        bottom: 0;
        z-index: 1050;
        background-color: #212529;
    }
}